.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.heading{
  text-align: center;
  font-size: 60px;
  font-family:'Courier New', Courier, monospace;
}
.phogallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px;
}

.imagecon {
  width: 100%;
  height: 200px; 
  overflow: hidden;
  position: relative;
}

.imagecon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease; 
}

.imagecon:hover img {
  transform: scale(1.2); 
}

.imagesizer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.imagesizer img {
  max-width: 100%;
  max-height: 100%;
}

.gallerymouse:hover .zoomed-image {
  opacity: 1;
}

.searchinput {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.searchinput input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.searchinput select {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.searchinput button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.searchinput button:hover {
  background-color: #0056b3;
}
